{% extends "base.html" %}
{% block content %}
{{resource_type.get_application_resources}}
<table>
<tr><th>Type</th><td title="{{resource_type.description}}">{{resource_type.name}}</td></tr>
<tr><th>Identifier</th><td>{{resource.identifier}}</td></tr>
</table>
<table>
{% for ar in resource_type.get_application_resources %}
<tr>
<th title="{{ar.application.description}}">{{ar.application.name}}</th>
<td>
	<input id="{{ar.application.id}}-suggest"/>
</td>
</tr>
{% endfor %}
</table>
{% for ar in resource.application_resources.all %}
	{{ar.get_translated_resource}}
{% endfor %}

<script>

{% for ar in resource_type.get_application_resources %}
$( "#{{ar.application.id}}-suggest" ).autocomplete({
    minLength: 1,
    source: function (request, response) {
        // request.term is the term searched for.
        // response is the callback function you must call to update the autocomplete's 
        // suggestion list.
        $.ajax({
            url: "{% url 'query' type_id=ar.resource.type_id identifier=resource.identifier app_id=ar.application.id %}",
            data: { query: request.term },
            dataType: "json",
            success: response,
            error: function () {
                response([]);
            }
        });
    },
    focus: function( event, ui ) {
      $( "#{{ar.application.id}}" ).val( ui.item.label );
      return false;
    },
    select: function( event, ui ) {
    	$.ajax({
            url: "{% url 'set_app_resource' type_id=ar.resource.type_id identifier=resource.identifier app_id=ar.application.id %}",
            data: { id: ui.item.id },
            dataType: "json",
            method: 'POST',
            success: function(response){
            	console.log('success',response);
                $( "#{{ar.application.id}}-suggest" ).val( response.translated.label );
                $( "#{{ar.application.id}}-suggest" ).attr('title', response.translated.description );
            },
            error: function (response) {
            	console.log('error',response);
            }
        });
      return false;
    }
  })
  .autocomplete( "instance" )._renderItem = function( ul, item ) {
    return $( "<li>" )
      .append( "<div>" + item.label + "<br>" + item.description + "</div>" )
      .appendTo( ul );
  };

{% endfor %}
{% for ar in resource.application_resources.all %}
$( "#{{ar.app_id}}-suggest" ).val( '{{ar.get_translated_resource.label}}' );
$( "#{{ar.app_id}}-suggest" ).attr('title', '{{ar.get_translated_resource.description}}' );
{% endfor %}
</script>
{% endblock %}